h3 {
    color:blue;
    text-align:center;
}

h4 {
    color:#8A2BE2;
    text-align:center;
}

.cl1 {
    background-color:lightblue;
    color: #9932CC;
}

#id1 {
    border-width: medium;
    border-style: dotted;
    border-color: green;
    color: red
}

div.absolute {
  position: absolute;
  top: 80px;
  right: 0px;
  width: 200px;
  height: 110px;
  
  border: 3px solid yellow;
}

div.relative {
  position: relative;
  top: 5px;
  width: 400px;
  height: 200px;
  border: 3px solid #73AD21;
    
  background-color: black;
  color: #0f0;
  border-color: red;
  margin: 10px;
} 

.green-border {
    border: thick solid green; 
    margin: 5px;
    overflow: auto; //проблема с ананасом
}

.right {
    float: right;
    padding: 5px;
}

/*    --- Начало описания стилей пользовательского radiobutton ---   */

/* The container */
.container {
  display: block;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}
    
.container input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
    
/* Create a custom radio button */
.checkmark {
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  display: inline-block;
  
  position: relative;
  top: 4px;
}    
    
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
/*  background-color: #2196F3;*/
/*    You can change the color of checked radion button here*/
    background-color: green; 
}
    
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark::before {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark::before {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark::before {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/*  --- Конец описания стилей пользовательского radiobutton ---   */

.flex-container {
  display: flex;
  background-color: darkgray;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-container > div {
  background-color: darkblue;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
    
  font-weight: bold;
  border-radius: 5px;
}